<!--The content below is only a placeholder and can be replaced.-->
<div>

  <div class="headline">
    <h1>Welcome to the Rock of Scissors!</h1>
  </div>

  <div class="game">
    <div class="player">
      <div>
        <img [disabled]="isDisabled" (click)="rock()" src="assets/img/rock.png" alt="">
      </div>
      <div>
        <img [disabled]="isDisabled" (click)="paper()" src="assets/img/paper.png" alt="">
      </div>
      <div>
        <img [disabled]="isDisabled" (click)="scissors()" src="assets/img/scissors.png" alt="">
      </div>
    </div>

    <div class="computer">
      <h2 id="smallHeadline">Computer choosed:</h2>

      <div *ngIf="computerChoiceRock">
        <img src="assets/img/rock.png" alt="">
      </div>
      <div *ngIf="computerChoicePaper">
        <img src="assets/img/paper.png" alt="">
      </div>
      <div *ngIf="computerChoiceScissors">
        <img src="assets/img/scissors.png" alt="">
      </div>
    </div>
  </div>

  <div class="result">
    <h2 *ngIf="start">Choose rock, paper or scissors!</h2>
    <h2 id="winner" *ngIf="winner">You won!</h2>
    <h2 id="loser" *ngIf="loser">You lose!</h2>
    <h2 *ngIf="tie">Tie game</h2>
  </div>

  <div id="button">
    <a class="button" (click)="restart()" href="">Play again</a>
  </div>

</div>